Add New Go Link

<form action="/{{.Key}}/add">
<input type="text" name="key" value="{{.Key}}">
<input type="text" name="url" value="{{.Url}}" placeholder="http://">
<input type="submit" name="add_btn" value=" Add / Edit ">
</form>